# FP Growth
* Frequent Pattern Growth 
* Apriori Limitations
  * At each Step, candidate set is to be formed
  * to build candidate sets, the algorithm has to repeatedly scan the database

In [1]:
from mlxtend.frequent_patterns import fpgrowth

In [2]:
dataset = [
           ['milk','onion','beans'],
           ['milk', 'onion'],
           ['onion','eggs','yogurt']
]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
te = TransactionEncoder()

In [5]:
te_array = te.fit(dataset).transform(dataset)

In [6]:
df = pd.DataFrame(te_array, columns = te.columns_)

In [7]:
df

   beans   eggs   milk  onion  yogurt
0   True  False   True   True   False
1  False  False   True   True   False
2  False   True  False   True    True

In [8]:
fpgrowth(df, min_support=0.60)

    support itemsets
0  1.000000      (3)
1  0.666667      (2)
2  0.666667   (2, 3)